@import '../../node_modules/bootstrap/scss/bootstrap.scss';

h1 {
    margin-bottom: 20px;
}

.page {
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-group{
    label{
        display:block;
    }
}
.flex-row{
    display: flex;
}
footer{
    color:#888
}

.pull-out{
    position:relative;
    background:#ffffbc;
    border-top:1px solid darken(#ffffbc,5%);
    border-bottom:1px solid darken(#ffffbc,5%);
    padding:20px 0;
    margin:1.5em 0;
    &:before,
    &:after{
        right:-9999em;
        content: " ";
        background:#ffffbc;
        left:100%;
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        border-top:1px solid darken(#ffffbc,5%);
        border-bottom:1px solid darken(#ffffbc,5%);
    }
    &:after{
        left:-9999em;
        right:100%;
        top:0;
        bottom:0;
    }
    * + * {
        margin:0;
    }
}

.article-item{
    margin-bottom:30px;
}

.blog-page{

}

.article-link {
    height:100%;
    color: white;
    position: relative;
    transition: 0.2s all;
    a {
        background-color: #434343;
        height:100%;
        margin-bottom:30px;
        color: white;
        padding: 20px;
        position: relative;
        z-index: 2;
        display: block;
        border: 2px solid #000;
        box-shadow: 3px 3px 0px 0px rgba(97, 97, 97, 0.52);
        transition: 0.2s all;
        &:after {
            z-index: 0;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            content: " ";
            position: absolute;
            display: block;
            background-size: 50px 50px;
            background-image: linear-gradient(
                            0deg,
                            transparent 24%,
                            rgba(255, 255, 255, .05) 25%,
                            rgba(255, 255, 255, .05) 26%,
                            transparent 27%,
                            transparent 74%,
                            rgba(255, 255, 255, .05) 75%,
                            rgba(255, 255, 255, .05) 76%,
                            transparent 77%, transparent),
            linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);

    }
        &:hover {
            text-decoration: none;
            transition: 0.2s all;
            box-shadow: 0px 0px 0px 0px rgba(97, 97, 97, 0.52);
        }
    }
    &:hover {
        transition: 0.2s all;
    }

}
